
.map {
    width: 100%;
    height: 720px;
    // display: none;
    position: relative;

    &__header {
        height: 210px;
        background: linear-gradient(180deg, rgba(30, 30, 30, 0.76) 0%, #000000 100%);
        padding-top: 60px;
        @media (max-width: 768px) {
            padding-top: 32px;
            height: 100px;
        }
    }
    &__title {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 768px) {
            top: 10px;
        }
    }
    &__map {
        background-color: #000;
        position: relative;
        z-index: 4;
        width: 100%;
        //height: 500px;
        min-height: 520px;
        @media (max-width: 768px) {
            min-height: 620px;
        }
    }
}
iframe {
    position: absolute;
    filter: grayscale(100%);
  }